
.app-container {
  background-color: #7eb9e3; 
  min-height: 100vh;
  padding: 20px;
}


.notes {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}



.box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}


.button.is-primary {
  background-color: #1976d2;
  border: #7eaede 2px solid; 
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 40%;

}
button.is-danger{
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 40%;
  
  margin-left: auto;
}
button.isEdit{
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 40%;
  
  margin-right: auto;
}
button.isSmall{
  width: 10%;
}

.button.is-primary:hover{
background-color: #7eaede;
border: #1976d2 2px solid;
}
h1.toDo{
  color: #1976d2;
}



@media (prefers-color-scheme: dark) {
  div.app-container {
      background-color: black;
      color: rgb(255, 255, 255);
  }
  h1.toDo{
    color: white;
  }
  
}

